/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .tableheader {
    background-color: #7e7979;
  }
  tr:nth-child(even) {background-color: #aca9a9;}

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #7e7979;
  }